.App {
    display: flex;
    font-family: Poppins, sans-serif;
    justify-content: center;
    flex-direction: column;
    padding:75px 100px ;
}
a{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.6px;
}